# eclipse
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.buildpath
target/
target/*
target/**
target/**/*
src/main/webapp/static/js/bootstrap-datetimepicker.min.js
src/main/resources/config.properties
